{% extends "layout.html" %}


{% block content %}

{% with infos = get_flashed_messages(category_filter=["info"]) %}

    {% if infos %}
        {% for message in infos %}

        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>

        {% endfor %}

    {% endif %}

{% endwith %}

<h2>About the Schema Service</h2>

<h3>Summary</h3>
<p>
<h4>Full list of apis is at <code>/api</code></h4>
    The Schema Service implements three main features:
    <ol>
    <li>Full CRUD operations for SchemaNode which is a row in the SchemaDB</li>
        <ul>
            <li> Click on <code>Entities > Schema</code> in the navbar.</li>
            <li> The <code>Add Schema Node</code> button at the bottom allows one to insert (POST) a new Schema Node</li>
            <li> <code>api/schema</code> implements the CRUD api</li>
            <li> <code>api/schema/nested</code> shows the hierarchical schema</li>
        </ul>
    <li>Full CRUD operations on Change which is the schema change being requested</li>
    <ul>
        <li> Click on <code>Entities > Change</code> in the navbar.</li>
        <li> The <code>Propose New Schema Change</code> button at the bottom allows one to insert (POST) a new Change Request</li>
        <li> The <code>Preview</code> button in each change row allows one to preview the proposed change's effect on the schema</li>
        <li> <code>api/schema/proposed/changeID</changeID></code> allows one to request this proposed schema</li>
        <li> <code>api/change</code> implements the CRUD api</li>
    </ul>
    <li>Given leaf node aggregate usage, roll usage counters up the hierarchy to construct complete account usage</li>
    <ul>
        <li> Click on <code>Usage</code> in the navbar.</li>
        <li> The <code>Roll Up Sample Usage</code> button at the top sends some leaf node aggregated usage and shows complete account usage</li>
        <li> <code>api/usage</code> allows on to POST leaf usages to get complete usage</li>
        <li> Changes made to the schema require no change to this roll up logic (which is the point of the service)</li>
    </ul>
    </ol>

<h3>Context</h3>

    The SchemaDB describes the various Billing IDs
    and their hierarchy. For instance this table:
</p>
<p>
<table style="undefined;table-layout: fixed; width: 331px">
    <colgroup>
        <col style="width: 69px">
        <col style="width: 198px">
        <col style="width: 64px">
    </colgroup>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>child_of</th>
    </tr>
    <tr>
        <td>1</td>
        <td>root</td>
        <td>0</td>
    </tr>
    <tr>
        <td>2</td>
        <td>sms</td>
        <td>1</td>
    </tr>
    <tr>
        <td>3</td>
        <td>incoming_sms</td>
        <td>2</td>
    </tr>
    <tr>
        <td>4</td>
        <td>outgoing_sms</td>
        <td>2</td>
    </tr>
    <tr>
        <td>5</td>
        <td>outgoing_sms_us</td>
        <td>4</td>
    </tr>
    <tr>
        <td>6</td>
        <td>outgoing_sms_uk</td>
        <td>4</td>
    </tr>
    <tr>
        <td>7</td>
        <td>calls</td>
        <td>1</td>
    </tr>
    <tr>
        <td>8</td>
        <td>incoming_calls</td>
        <td>7</td>
    </tr>
    <tr>
        <td>9</td>
        <td>incoming_calls_us</td>
        <td>8</td>
    </tr>
    <tr>
        <td>10</td>
        <td>incoming_calls_voicemail</td>
        <td>8</td>
    </tr>
    <tr>
        <td>11</td>
        <td>outgoing_calls</td>
        <td>7</td>
    </tr>
    <tr>
        <td>12</td>
        <td>outgoing_calls_us</td>
        <td>11</td>
    </tr>
    <tr>
        <td>13</td>
        <td>outgoing_calls_us_regular</td>
        <td>12</td>
    </tr>
    <tr>
        <td>14</td>
        <td>outgoing_calls_us_tollfree</td>
        <td>12</td>
    </tr>
    <tr>
        <td>15</td>
        <td>outgoing_calls_us_premium</td>
        <td>12</td>
    </tr>
    <tr>
        <td>16</td>
        <td>outgoing_calls_uk</td>
        <td>11</td>
    </tr>
    <tr>
        <td>17</td>
        <td>outgoing_calls_fr</td>
        <td>11</td>
    </tr>
</table>
</p>

<p>
    Represents:
    <pre>
root
├── sms
│   ├── incoming_sms
│   ├── outgoing_sms
│   │   ├──outgoing_sms_us
│   │   └──outgoing_sms_uk
└── └── calls
    ├── incoming_calls
    |   ├──incoming_calls_us
    |   └──incoming_calls_voicemail
    └── outgoing_calls
       ├──outgoing_calls_us
       |   ├──outgoing_calls_regular
       |   ├──outgoing_calls_tollfree
       |   └──outgoing_calls_premium
       ├──outgoing_calls_uk
       └──outgoing_calls_fr
</pre>
</p>
<p>
    We would like to do two main things.
</p>
<p> First, given the following leaf node aggregate usage<code> POST /usage </code>
    <pre>
        incoming_sms: 50
        outgoing_sms_us: 40
        outgoing_sms_uk: 10
        incoming_calls_us: 400
        incoming_calls_voicemail: 100
        outgoing_calls_us_regular: 300
        outgoing_calls_us_tollfree: 100
        outgoing_calls_uk: 100       
        incoming_sms: 50
        outgoing_sms_us: 40
        outgoing_sms_uk: 10
        incoming_calls_us: 400
        incoming_calls_voicemail: 100
        outgoing_calls_us_regular: 300
        outgoing_calls_us_tollfree: 100
        outgoing_calls_uk: 100
    </pre>
    We would like to see the rolled up usage:
<pre>
root 1100
├── sms 100
│   ├── incoming_sms 50
│   ├── outgoing_sms 50
│   │   ├──outgoing_sms_us 40
│   │   └──outgoing_sms_uk 10
└── └── calls 1000
    ├── incoming_calls 500
    |   ├──incoming_calls_us 400
    |   └──incoming_calls_voicemail 100
    └── outgoing_calls 500
       ├──outgoing_calls_us 400
       |   ├──outgoing_calls_regular 300
       |   ├──outgoing_calls_tollfree 100
       |   └──outgoing_calls_premium
       ├──outgoing_calls_uk 100
       └──outgoing_calls_fr
</pre>
</p>
<p>
    Second, given a proposed change like this one:
    <pre>
    New_Node_Name: outgoing_calls_us_hawaii
    New_Node_Child_of: 12
    </pre>
    We would like to see the effect on the schema
    <pre>
root
 sms
   incoming_sms
   outgoing_sms
       outgoing_sms_us
       outgoing_sms_uk
 calls
   incoming_calls
       incoming_calls_us
       incoming_calls_voicemail
   outgoing_calls
       outgoing_calls_us
               outgoing_calls_us_regular
               outgoing_calls_us_tollfree
               outgoing_calls_us_premium
               OUTGOING_CALLS_US_HAWAII
       outgoing_calls_uk
       outgoing_calls_fr
    </pre>
</p>

<h3>Algorithm to roll up usage dynamically from schema</h3>
<ul>
    <li>Get all the SchemaRow from the db</li>
    <li>Create a dict with id -> TreeNode(SchemaRow)</li>
    <li>For every node add links to all their ancestors</li>
    <li>Add the leaf usage to leaf node and using the links just created add it to all its ancestors too</li>
    <li>Do this for all nodes. At this point we have the rolled up usage</li>
    <li>To view it go through the dict and add links to all the children</li>
    <li>Do in order traversal and display json</li>
</ul>

<h3>To Do</h3>
<ul>
    <li>Restrict access to service using tokens</li>
    <li>Allow Sign Up and designate some users as admins</li>
    <li>Restrict access to SchemaNode Create, Update, Delete to admins only</li>
    <li>Manage Changes and reflect it in the Change.Status field</li>
    <ul>
        <li>When Change is created set the status to "Pending" and assign it to admin</li>
        <li>Allow admin to change status of it to "Requested Changes", "Approved"</li>
        <li>When Change is Approved, make sure schema is not going to break and merge as new SchemaNode</li>
        <li>Set Change to closed and notify the user who created it</li>
    </ul>
</ul>

{% endblock %}
