{% extends "layout.html" %}

{% block content %}

<div id="schemaNodePost" class="onePadding">
    <div class="alert alert-success hidden" id="success_alert" role="alert">
        <p id="success_message"></p>
    </div>


    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal">

                <p>There is no validation for now. So refrain from creating something that is a child of something that doesn't exist</p>

                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name"
                               name="name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputChildOf" class="col-sm-2 control-label">Child Of</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputChildOf" placeholder="Child Of"
                               name="child_of">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary btn-sm" onclick="saveSchemaNode();">Add Schema Node
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script lang="text/javascript" src="{{url_for('static', filename='scripts/schema_node.js')}}">


</script>
{% endblock %}
