{% extends "layout.html" %}

{% block content %}

<h3>Changes</h3>

<h4>All Changes Proposed</h4>

<div class="row onePadding">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Description</th>
                    <th>User</th>
                    <th>SchemaNode_Name</th>
                    <th>SchemaNode_Child_Of</th>
                    <th>Potential_Schema</th>
                </tr>
                {% for change in changes %}
                    <tr>
                        <td>{{change['id']}}</td>
                        <td>{{change['status']}}</td>
                        <td>{{change['description']}}</td>
                        <td>{{change['user']}}</td>
                        <td>{{change['sn_name']}}</td>
                        <td>{{change['sn_child_of']}}</td>
                        <td>
                            <button type="button" id={{change['id']}} class="btn btn-primary btn-sm" onclick="showProposedSchema(this.id);">Preview</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div id="proposedSchemaDiv">
    <ul>
        <li>Press Preview to see effect of that change on the schema.</li>
        <li>New node to be inserted is shown in ALL_CAPS</li>
    </ul>
</div>
<div class="row">
    <a class="btn btn-primary btn-sm" href="{{url_for('page_add_change')}}">Propose New Schema Change</a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script lang="text/javascript" src="{{url_for('static', filename='scripts/change.js')}}">
</script>

{% endblock %}
