{% extends "layout.html" %}

{% block content %}

<h3>Schema</h3>

<h4>Nested Schema</h4>
<pre>
{{nested_schema}}

</pre>
<h4>All Schema Nodes</h4>

<div class="row onePadding">
    <div class="col-md-12 col-sm-12">
        <div class="table-responsive">
            <table class="table table-condensed">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Child_Of</th>
                </tr>
                {% for schema_node in schema_nodes %}
                    <tr>
                        <td>{{schema_node['id']}}</td>
                        <td>{{schema_node['name']}}</td>
                        <td>{{schema_node['child_of']}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="row">
    <a class="btn btn-primary btn-sm" href="{{url_for('page_add_schema_node')}}">Add Schema Node</a>
</div>


{% endblock %}
