{% extends "layout.html" %}

{% block content %}

<div id="usageGet" class="onePadding">
    <div class="alert alert-success hidden" id="success_alert" role="alert">
        <p id="success_message"></p>
    </div>

    <p>
        The format for POSTing usage to <code>/api/usage</code> is in a form with repeated usg field
<pre>
    usg : 3 100
    usg : 7 200
    usg : 9 500
    ...
</pre>
    <p> This represents usage of $100 to BillingId 3, $200 to Billing ID 7, and so forth
    </p>

    <div class="row">
        <div class="col-md-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary btn-sm" onclick="getUsage();">Roll up Sample Usage
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<div id="leafDiv">
    <ul><li>Press <code>Roll Up Sample Usage</code> to send some sample aggregated leaf node billing usage to the service</li></ul>
</div>
<div id="rolledUpUsageDiv">
    <ul><li>The rolled up usage will display here</li></ul>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script lang="text/javascript" src="{{url_for('static', filename='scripts/usage.js')}}">


</script>
{% endblock %}
